.services-wrapper {
  padding: 60px 20px;
  background: #fff;
}

.services-title {
  font-size: 36px;
  text-align: center;
  color: #333;
  margin-bottom: 10px;
}

.services-subtitle {
  font-size: 16px;
  text-align: center;
  color: #777;
  margin-bottom: 40px;
}

.services-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1110px;
  margin: 0 auto;
}

.service-card {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 10px;
  width: 525px;
  height: 325px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: left;
  padding: 20px;
}

.service-image {
  width: 50%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

.service-content {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.service-title {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.service-description {
  font-size: 14px;
  color: #555;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.service-item {
  margin-bottom: 5px;
}

.price-button {
  background-color: #CC2618;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
  align-self: flex-start;
  font-family: 'TTNorms Medium', sans-serif;
}
